.Skills {
    background-color: rgb(28, 16, 29);
    padding: 100px 0 100px;
    margin-top: -20px;
}

.Skills>div>h2 {
    margin-top: -25px;
    margin-bottom: 40px;
}

.MainCard {
    background-color: white;
    margin-top: -170px;
    border-radius: 18px;
    padding: 6px;
    z-index: 90;
    width: 60%;
    margin: -170px auto 0 auto;
}

/* @media(min-width: 575px) {
    .Skills>div>div>div:not(:first-child) {
        margin-left: 20px;
    }
} */

@media(max-width: 575px) {
    .Skills>div>div>div {
        margin: 0 auto;
    }
    .MainCard {
        width: auto;
    }
}