.RecentWork{
    padding: 100px 0 100px;
    text-align: center;
    display: block;
    flex-wrap: wrap;
    padding: 5%;
}

.RecentWork > h2{
    margin: -50px auto 50px;
}

.Card {
    width: 80%;
    margin: 0 auto;
}

.Lists ul{
    display: inline-block;
    width: auto;
}

.Lists {
    padding: auto;
}