.RecentWork{
    padding: 100px 0 100px;
    text-align: center;
    display: block;
    flex-wrap: wrap;
    padding: 5%;
}

.RecentWork > h2{
    margin: -50px auto 50px;
}

.Card {
    width: 80%;
    margin: 0 auto;
}

.Lists ul{
    display: inline-block;
    width: auto;
}

.Lists {
    padding: auto;
}

.CV {
    margin-top: 5%;
    margin-left: 7%;
}
.CV img{
    margin: 0 auto;
    
}
.SampleText p{
    color: black !important;
    font-weight: bold;
}

@media(max-width: 575px) {
    .CV {
        margin: 15px auto;
    }
}