.DgfSample{
    display: block;
}

.DgfSample>ul>li>img{
    max-width: 1000px
}
.DgfSample>ul{
    margin-top:50px;
}
.DgfSample>ul>li{
    display: block
}

@media (max-width: 600px) {
    .DgfSample>ul>li>img{
        max-width: 90vw
    }
}