.Logo {
    /* background-color: rgb(51, 40, 51); */
    padding: 8px;
    height: 100%;
    box-sizing: border-box;
    border-radius: 5px;
    text-align: center;
}

.Logo img {
    height: 100%;
}

@media (max-width: 500px){
    

    .Logo img {
        height: 100%;
        /* max-width: 30vw; */
    }
}