.OtherSkills{
    padding: 100px 0 100px;
    text-align: center
}

.OtherSkills > h2{
    margin: -50px auto 50px;
}

.Card {
    width: 80%;
    margin: 0 auto;
}

.Lists ul{
    display: inline-block;
    width: auto;
}

.Lists {
    padding: auto;
}